.venv/
brain_games/__pycache__/cli.cpython-310.pyc
brain_games/__pycache__/
*.egg-info
__pycache__
dist/
*.pyc
.coverage
coverage.xml
.pytest_cache/
.Makefile.swp
dist/hexlet_code-0.1.0-py3-none-any.whl
dist/hexlet-code-0.1.0.tar.gz
brain_games/scripts/__pycache__/brain_games.cpython-310.pyc
